-# %h1 见证宝宝的成长, 也是在见证自己的成长
%p Introducing pomodoro-technique
%h1 Do more and have fun with time management
%p For many people, time is an enemy. We race against the clock to finish assignments and meet deadlines. The Pomodoro Technique teaches you to work with time, instead of struggling against it. A revolutionary time management system, it is at once deceptively simple to learn and life-changing to use.

= link_to '进入时间管理应用', projects_path
