= form_for project do |f|
  = f.text_field :name, class: 'update-project-input'
  = f.button 'update', id: 'update-project-button', value: project.id, type: 'button'
  = f.button 'cancel', id: 'cancel-update-project-button', value: project.id, type: 'button'