.project-content#project-id{ value: project.id }
  %h3= project.name
  - project.titles.each do |title|
    = render 'shared/title_show', project: project, title: title

    %ul
      - title.todos.each do |todo|
        %li.todo-list= todo.name
