.project-content{id: "project-content-#{project.id}", value: project.id }
  .header
    %h3= project.name
  .project-body
    = render partial: 'title', collection: project.titles, as: :title, locals: { project: project }
  .action-bar
    = button_tag '新建标题', { class: 'btn', id: 'new-title-button', url: new_project_title_path(project.id) }
