.project-list.flex.align-center.text-p{value: project.id}
  .project-list-content
    .project-list-name= project.name
    .project-list-description= project.description || 'no content'
    .project-list-stat.flex
      %span.project-start-time= china_date(project.created_at)
      .tomato-num-div
        %span.tomato-icon
          %i.fas.fa-apple-alt
        %span.tomato-num= project.tomatos_count
  .project-list-icons
    .project-pin
      %i.fas.fa-thumbtack
    .project-delete
      %i.far.fa-trash-alt

:javascript
  $(function() {
    let firstProject = $('.project-sidebar .project-list')[0]
    if (firstProject) {
      firstProject.click()
    }
  })
