.default-category-zone.category-zone.text-p
  %a.category-list.sidebar-inbox{href: '#'}
    %span.category-icon
      %i.fas.fa-inbox
    %span.row-name 所有项目
    %span.row-stat 4
    %span.placeholder.category-delete
  %a.category-list.sidebar-deleted{href: '#'}
    %span.category-icon
      %i.fas.fa-thumbtack
    %span.row-name 置顶项目
    %span.row-stat 4
    %span.placeholder.category-delete
  %a.category-list.sidebar-pinned{href: '#'}
    %span.category-icon
      %i.fas.fa-check-square
    %span.row-name 完成项目
    %span.row-stat 4
    %span.placeholder.category-delete
  %a.category-list.sidebar-done{href: '#'}
    %span.category-icon
      %i.fas.fa-trash
    %span.row-name 删除项目
    %span.row-stat 4
    %span.placeholder.category-delete
.custom-category-zone.category-zone.text-p
  - @categories.each do |category|
    %a.category-list.flex{href: category_path(category), value: category.id}
      %span.category-icon
        %i.fas.fa-folder
      %span.row-name= category.name
      %span.row-stat 9
      %span.category-delete
        %i.far.fa-trash-alt

-# .action-bar
  = button_tag 'add category', { class: 'ui button', id: 'new-category-button', url: new_category_path }
