.pinned-projects
  %h3 置顶的项目
  %ul 
    - @pinned_projects.each do |pinned_project|
      %li
        %a.project-link{id: pinned_project.id, href: '#'}= pinned_project.name

.category-zone
  %h3 所有的分类
  = render partial: 'category', collection: @categories
.action-bar
  = button_tag 'add category', { class: 'btn', id: 'new-category-button', url: new_category_path }