.container
  .sidebar
    = render 'sidebar'
  .project-container
    = render 'project', project: @pinned_projects.first if @pinned_projects.present?
    = render 'action_bar'

:javascript
  $(function() {
    $('a.project-link').on('click', function(e) {
      e.preventDefault();
      var project_id = $(this).attr('id');

      var url = "/projects/" + project_id;
      $.get(url, function(project_partial) {
        $('.project-content').html(project_partial);
      });
    });

    // 新建title
    $('#add-title-button').on('click', function(e) {
      e.preventDefault();
      $(this).attr('disabled', true);
      var projectId = $('#project-id').attr('value');
      var url = 'projects/' + projectId + '/titles/new';
      $.get(url, function(data) {
        $('.project-content').append(data);
      });
    });

    // cancel create title
    $('.project-content').on('click', '#cancel-title-button', function() {
      $('form#new_title').remove();
      $('#add-title-button').attr('disabled', false);
    });


    // create title
    $('.project-content').on('click', '#create-title-button', function(e) {
      e.preventDefault();
      var newTitleForm = $('form#new_title')
      var url = newTitleForm.attr('action');
      $.post(url, newTitleForm.serialize(), function(data) {
        newTitleForm.remove();
        $('#add-title-button').attr('disabled', false);
        $('.project-content').append(data);
      });
    });

    // delete title
    $('.project-content').on('click', '.delete-title-button', function() {
      if(confirm('确定删除?')) {
        var url = $(this).attr('url');
        var titleContainer = $(this).parent();
        $.ajax({
          url: url,
          type: 'delete'
        }).done(function() {
          titleContainer.remove();
        });
      }
    });

    // next
  })


