.wrapper-header.border-bottom-grey
  .header-content.flex-between.flex-center
    .to-project-sidebar-link.hide
      .icon-group.flex.flex-center
        %i{class: 'icon icon-arrow-left'}
        .text Inbox
    .to-category-sidebar-link.hide
      %i{class: 'icon icon-menu'}
    .category-description.hide 分类

    .dashboard
      %p Today's Tomatoes: 5
    .tomato-timer-content.hide.flex-around.flex-center
      .timer-show
        %h2 25:00
      = button_tag '取消蕃茄', id: 'cancel-tomato-button'
.wrapper-body
  .container.flex
    .category-sidebar.sidebar
      = render 'sidebar_category'
    .project-sidebar.sidebar.border-left-grey
      = render 'sidebar_project'
    .project-container.border-left-grey
      = render 'project', project: @default_project
