.header-wrapper.flex.align-center.text-p
  .category-sidebar-header-row
    .row-content.flex-end.align-center
      .category-add
        %i{class: 'fas fa-plus'}
        %span 新建分类
  .project-sidebar-header-row
    .row-content.flex-end.align-center
      .to-category-sidebar-link.hide
        %i{class: 'fas fa-bars'}
      .project-add.hover-border
        %span.project-add-loading.hide
          %i.fas.fa-spinner.fa-spin
        %span.project-add-icon
          %i.fas.fa-plus
        %span.project-add-content 新建项目
  .project-container-header-row
    .row-content.flex-between.align-center
      .to-project-sidebar-link.hide
        %span
          %i{class: 'fas fa-arrow-left'}
      .today-tomato
        %span
          %i{class: 'fas fa-apple-alt'}
        %span#today-tomato-num= current_user.today_tomato_size || 0
      .title-add.hover-border.hide
        %span.title-add-loading.hide
          %i.fas.fa-spinner.fa-spin
        %span.title-add-icon
          %i.fas.fa-plus
        %span.title-add-content 新建标题
      .tomato-timer.hide.flex-around.align-center
        .timer-show
          %b 25:00
        .divider-vert
        .timer-cancel.flex-around.align-center
          %i{class: 'icon icon-cross'}
.container.flex
  = render 'category_sidebar'
  .project-sidebar.sidebar
    = render 'project_sidebar'
  .project-container
