.header-wrapper.flex.align-center.text-p
  .category-sidebar-header-row.flex-end.align-center
    .header-name.hide 分类
    .category-add
      %i{class: 'fas fa-plus'}
      %span new category
  .project-sidebar-header-row.flex-end.align-center
    .to-category-sidebar-link.hide
      %i{class: 'fas fa-bars'}
    .project-add
      %i{class: 'fas fa-plus'}
      %span new project
  .project-container-header-row.flex-around.align-center
    .to-project-sidebar-link.hide
      .icon-group.flex.align-center
        %i{class: 'icon icon-arrow-left'}
        .text Inbox
    .project-container-header-divider.divider-vert.hide
    .dashboard
      .today
        %b 今日Tomatoes:
        %b#today-tomato-num= current_user.today_tomato_size || 0
  .tomato-timer-header-row.hide.flex-around.align-center
    .timer-show
      %b 25:00
    .divider-vert
    .timer-cancel.flex-around.align-center
      %i{class: 'icon icon-cross'}
.container.flex
  .category-sidebar.sidebar
    = render 'sidebar_category'
  .project-sidebar.sidebar
    = render 'sidebar_project'
  .project-container
    = render 'project', project: @default_project
