.project-container
  .sidebar
    = render 'sidebar'
  .project-show-area
    .content
      = render 'project', project: @pinned_projects.first if @pinned_projects.present?
    = render 'action_bar'

:javascript
  $(function() {
    $('a.project-link').on('click', function(e) {
      e.preventDefault();
      var project_id = $(this).attr('id');

      var url = "/projects/" + project_id;
      $.get(url, function(project_partial) {
        $('.project-show-area .content').html(project_partial);
      });
    });

    // 新建title
    $('#add-title-link').on('click', function(e) {
      e.preventDefault();
      var projectId = $('#project-id').attr('value');
      url = 'projects/' + projectId + '/titles/new';
      $.get(url, function(data) {
        $('.title-content').append(data);
      });
    });
  })


