.project-container
  .sidebar
    = render 'sidebar'
  .project-show-area
    .content
      = render 'project', project: @pinned_projects.first if @pinned_projects.present?
    = render 'action_bar'

:javascript
  $(function() {
    $('a.project-link').on('click', function(e) {
      e.preventDefault();
      var project_id = $(this).attr('id');

      var url = "/projects/" + project_id;
      $.get(url, function(project_partial) {
        $('.project-show-area .content').html(project_partial);
      });
    });

    // 新建title
    $('#add-title-button').on('click', function(e) {
      e.preventDefault();
      $(this).attr('disabled', true);
      var projectId = $('#project-id').attr('value');
      var url = 'projects/' + projectId + '/titles/new';
      $.get(url, function(data) {
        $('.title-content').append(data);
      });
    });

    // cancel create title
    $('.title-content').on('click', '#cancel-title-button', function() {
      $('form#new_title').remove();
      $('#add-title-button').attr('disabled', false);
    });


    // create title
    $('.title-content').on('click', '#create-title-button', function(e) {
      e.preventDefault();
      var newTitleForm = $('form#new_title')
      var url = newTitleForm.attr('action');
      $.post(url, newTitleForm.serialize(), function(data) {
        newTitleForm.remove();
        $('#add-title-button').attr('disabled', false);
        $('.title-content').append(data);
      });
    });
  })


