%h3= @project.name

.todo-content
  %ul
    - @project.todos.where(title_id: nil).each do |todo|
      %li= todo.name

.title-content
  - @project.titles.each do |title|
    .title-area
      .title-name= title.name
      %ul
        - title.todos.each do |todo|
          %li.todo-list= todo.name
