= form_for [@project, @title] do |f|
  = f.text_field :name
  = f.button('更新', { id: 'update-title-button', value: @title.id, type: 'button' })
  = f.button('取消', { id: 'cancel-update-title-button', value: @title.id, type: 'button' })
