.title-container.new{id: "title-container-#{title.id}"}
  .title-row.flex-between{ id: "title-row-#{title.id}" }
    .title-content.flex.align-center{url: project_title_path(project, title)}
      .title-name
        - name = title.name.present? ? title.name : '默认标题'
        %b= name
    .title-button-group.flex.align-center
      %span.title-delete{url: project_title_path(project, title), value: title.id }
        %i{class: 'fas fa-trash-alt'}
      %span.toggle-title-todos.hide{value: title.id }
        %i{class: 'fas fa-chevron-up'}
        %i{class: 'fas fa-chevron-down hide'}
      %span
        %i{class: 'fas fa-plus'}
