= form_for [@title, @todo] do |f|
  = f.text_field :name, id: 'create-todo-input'
  = f.button('保存', { id: 'create-todo-button', type: 'button' })
  = f.button('取消', { id: 'cancel-todo-title-button', type: 'button' })
