.todo-list.flex.align-center{id: "todo-list-#{todo.id}"}
  %span.tomato-start{value: todo.id}
    %i.fas.fa-play-circle
  .todo-list-content{url: title_todo_path(title, todo)}
    .todo-name.text-p
      = todo.name
    .second-row.flex.align-center
      .tomato-stat.second-row-item
        %span 10
        %span 5
      .history-context.second-row-item
        %i{class: 'fas fa-align-left'}
      .todo-delete.text-dark.second-row-item{url: title_todo_path(title, todo), value: todo.id, title_id: title.id}
        %i.fas.fa-trash-alt
  .todo-switcher
    %label{class: 'switcher'}
      %input{type: 'checkbox'}
      %span{class: 'slider-my'}
