$secondary: orange;
@import 'bootstrap/4.1.3/bootstrap';

// Core colors
$primary-color: #007AFF; //apple blue
$primary-color-dark: #212B3B;
$primary-color-light: #F6F6F6;
$secondary-color: #FF9500; //apple orange
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

// Gray colors
$dark-color: #454d5d ;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 40%) !default;
$gray-color-dark: darken($gray-color, 25%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$border-color: lighten($dark-color, 60%);
$border-color-dark: darken($border-color, 10%) !default;
$bg-color: $light-color;
$bg-color-light: #DEE1E5; //foxmail-bg-color
$bg-color-dark: $primary-color-dark;

$phone-header-height: 60px;
$tablet-header-height: 50px;
$pc-header-height: 50px;

$success-color: #32b643;
$warning-color: #ffb700;
$error-color: #e85600;
