@import "my_variables";

.flex {
  display: flex;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-baseline {
  align-items: baseline;
}

.hide {
  display: none ;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn-mini {
  font-size: 0.5rem;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.1rem;
}

.s-rounded {
  border-radius: 0.15rem;
}

.hover-border {
  padding: 0.3em;
  border: 1px solid transparent;
  border-radius: 0.2em;
}
.hover-border:hover {
  cursor: pointer;
  border: 1px solid $gray-color-dark;
  transition: 0.5s;
}

.rotate90 {
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}

label.switcher {
  display: inline-block;
  height: 1em;
  width: 2em;
  position: relative;
  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
  span.slider-my {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1em;
    background-color: $gray-color-light;
    transition: 0.3s;
  }
  span.slider-my::before {
    content: '';
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: calc(1em - 0.2em);
    height: calc(1em - 0.2em);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5), 0 0 0.1em rgba(100,100,100,0.5);
    transition: 0.3s;
  }
  input:checked + span.slider-my::before {
    transform: translateX(1em);
  }
  input:checked + span.slider-my {
    background-color: $primary-color;
  }
}

.primary-color {
  color: $primary-color;
}
.error-color {
  color: $error-color;
}
