@import "my_variables";

.project-sidebar {
  padding: 1em 0;

  .project-list {
    border-bottom: 1px solid $border-color;
    padding: 0.3em 2em 0.3em 0.3em;
    text-decoration: none;
  }

  .project-list:hover {
    background-color: $gray-color;
    cursor: pointer;
  }
  .project-list.active {
    background-color: $primary-color;
    color: $light-color;
    cursor: default;
  }
  .project-list:not(.active) .project-list-dropdown-button {
    display: none;
  }
  .project-list.starred .star-project {
    display: none;
  }
  .project-list:not(.starred) .unstar-project {
    display: none;
  }
  .project-star-icon {
    padding-right: 0.6em;
    font-size: 0.8em;
    color: $warning;
  }
  .project-list-content {
    flex: auto;
    width: 80%;
  }
  .project-list-dropdown-button:hover {
    cursor: pointer;
  }

  .project-list-name {
    height: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 .project-list-description {
    height: 1.8em;
    line-height: 1.8em;
    font-size: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .project-list-stat {
    height: 1.8em;
    line-height: 1.8em;
    font-size: 0.6rem;
  }
  .project-start-time {
    flex: 0 0 auto;
  }
  .tomato-num-div {
    flex: 0 0 3em;
  }
  .delete-project:hover {
    background-color: $danger;
    color: $light-color;
  }

}

.project-container {
  flex: 1 1 auto;
  border-left: 1px solid $border-color-dark;
  .project-head {
    padding: 0.5em;
  }
}

.title-container {
  margin-bottom: 3em;
  position: relative;
  .title-name {
    font-weight: bold;
  }

  .title-button-group:hover {
    cursor: pointer;
  }
  .title-button-group span {
    margin-left: 1em;
  }
}

.title-container.new .title-content::before {
  position: absolute;
  content: '';
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  left: -1em;
  background-color: $primary-color;
}

.title-edit-input {
  font-weight: bold;
}

.footer-content {
  box-sizing: border-box;

  .project-footer {
    flex: 1 1 auto;
  }
}

.title-row {
  border-bottom: 1px solid $border-color;
}

.title-todos-container {
  padding: 0 0.5em;
  background: $light-color;
}

.todo-list {
  border-bottom: 1px solid $border-color;
  padding: 0.5em 0;

  .tomato-start {
    flex: 0 0 2.5em;
  }
  .todo-list-content {
    flex: auto;
  }
  .todo-switcher {
    flex: 0 0 2em;
    font-size: 20px;
  }
  .second-row {
    color: $gray-color;
  }

  .second-row-item {
    padding-right: 1em;
    color: $gray-color;
  }
  .second-row-item:hover {
    cursor: pointer;
  }
  .todo-delete:hover {
    color: $danger;
  }

}

.new-todo-content {
  margin-left: 16px;
  margin-top: 5px;
}

.category-content {
  padding: 3px;
  background-color: lightgreen;
}

.new-project-content {
  margin-left: 16px;
  margin-top: 5px;
}

.header-content {
}

.tomato-on {
  display: none;
}

.sticky {
  position: fixed;
  top: 65px;
}

