.container {
  box-sizing: border-box;

  .category-sidebar {
    height: calc(100vh - 100px);
    overflow: auto;
  }

  .project-sidebar {
    height: calc(100vh - 100px);
    overflow: auto;
  }

  .project-container {
    height: calc(100vh - 100px);
    overflow: auto;
    flex: 1 1 auto;
  }
}

.footer-content {
  box-sizing: border-box;

  .project-footer {
    flex: 1 1 auto;
  }
}

.title-container {
  margin-bottom: 16px;
}

.title-content {
  padding: 3px;

  .body {
    margin-right: 16px;
  }
}

.new-todo-content {
  margin-left: 16px;
  margin-top: 5px;
}

.title-todos-container {
  margin-left: 10px;
  margin-bottom: 26px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.todo-body {
  margin-right: 100px;

  .todo-name {
    margin-right: 20px;
  }

  .todo-total-tomato {
    margin-right: 20px;
  }

  .todo-today-tomato {
    border: 1px solid green;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    line-height: 18px;
  }
}

.category-content {
  padding: 3px;
  background-color: lightgreen;
}

  .new-project-content {
    margin-left: 16px;
    margin-top: 5px;
  }

  .project-content {
  }

  .project-list {
    margin-bottom: 6px;
  }

.header-content {
  width: 75%;
}

.tomato-on {
  display: none;
}

.sticky {
  position: fixed;
  top: 65px;
}

@media only screen and (max-width: 920px) {
  .category-sidebar {
    padding-top: 2em;
    padding-left: 3em;
    flex: 1 1 18%;
  }
  .project-sidebar {
    flex: 1.5 1 28%;
    padding-top: 2em;
    padding-left: 3em;
  }
  .project-container {
    padding: 2em 2em;
  }
  .side-category-footer {
    padding-left: 3em;
    flex: 1 1 18%
  }
  .side-project-footer {
    padding-left: 3em;
    flex: 1 1 28%
  }
  .sidebar, .side-category-footer, .side-project-footer {
    display: none;
  }
  .sidebar-show-button {
    display: block;
  }
}

@media only screen and (min-width: 920px) and (max-width: 1800px) {
  .category-sidebar {
    padding-left: 1%;
    flex: 0 1 16%;
  }
  .project-sidebar {
    flex: 0 1 20%;
  }
  .project-container {
    padding-right: 1%;
  }
}

@media only screen and (min-width: 1800px) {
  .category-sidebar {
    padding-left: 12%;
    flex: 0 1 25%;
  }
  .project-sidebar {
    flex: 0 1 16%;
  }
  .project-container {
    padding-right: 12%;
  }
}


