@import "my_variables";

body {
  color: #111;
}

.header-wrapper {
  background-color: $primary-color-light;
  border-bottom: 1px solid $border-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: $dark-color;
}

.category-sidebar-header-row {
  //border-right: 1px solid $light-color;
  padding: 0 0.8em;
  .category-add.disabled {
    color: $gray-500;
  }
}

.project-sidebar-header-row {
  //border-right: 1px solid $light-color;
  padding: 0 0.8em;
  .project-add {
    flex: 0 0 6em;
  }
  .project-add.disabled {
    color: $gray-500;
  }
  .to-category-sidebar-link {
    flex: auto;
  }
}

.wrapper-body {
  background-color: $bg-color;
}

.category-sidebar {
  position: relative;
  background-color: $bg-color-light;
  color: $dark-color;
}
.project-sidebar {
  position: relative;
  background-color: $bg-color;
  a {
    color: $dark-color;
  }
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
  box-shadow-bottom: 0 1px 2px grey;
}

.border-top-grey {
  border-top: 1px solid grey;
}

.border-left-grey {
  border-left: 1px solid grey;
}

.border-right-grey {
  border-right: 1px solid grey;
}

.tomato-button {
  width: 1em;
  height: 1em;
  background: $primary-color;
  border-radius: 50%;
}

.tomato-button.clicked {
}
.tomato-button.disabled {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

body .dropdown-item:hover {
  background-color: $gray-color;
  cursor: pointer;
}
