.wrapper-header {
  background-color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper-body {
  background-color: #fafafa;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
  box-shadow-bottom:: 0 1px 2px grey;
}

.border-top-grey {
  border-top: 1px solid grey;
}

.border-left-grey {
  border-left: 1px solid grey;
}

.border-right-grey {
  border-right: 1px solid grey;
}
