@import "my_variables";

body {
  color: #111;
}

.header-wrapper {
  background-color: $primary-color-light;
  border-bottom: 1px solid $border-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: $dark-color;
}

.category-sidebar-header-row {
  //border-right: 1px solid $light-color;
  padding: 0 0.8em;
  .category-add.disabled {
    color: $gray-500;
  }
}

.project-sidebar-header-row {
  //border-right: 1px solid $light-color;
  padding: 0 0.8em;
  .project-add {
    flex: 0 0 6em;
  }
  .project-add.disabled {
    color: $gray-500;
  }
  .to-category-sidebar-link {
    flex: auto;
  }
}

.wrapper-body {
  background-color: $bg-color;
}

.category-sidebar {
  position: relative;
  background-color: $bg-color-light;
  color: $dark-color;
}
.project-sidebar {
  position: relative;
  background-color: $bg-color;
  a {
    color: $dark-color;
  }
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
  box-shadow-bottom: 0 1px 2px grey;
}

.border-top-grey {
  border-top: 1px solid grey;
}

.border-left-grey {
  border-left: 1px solid grey;
}

.border-right-grey {
  border-right: 1px solid grey;
}

.tomato-button {
  width: 1em;
  height: 1em;
  background: $primary-color;
  border-radius: 50%;
}

.tomato-button.clicked {
}
.tomato-button.disabled {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

body .dropdown-item:hover {
  background-color: $gray-color;
  cursor: pointer;
}

#tomatoSettingModal .modal-dialog {
  max-width: 400px;
}
.tomato-setting-form-content {
  .setting-row {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
  }
  label {
    flex: 1 0 40%;
  }
  .tomato-setting-save {
    margin-top: 1em;
  }
}

#tomatoFinishForm {
  .tomato-text {
    flex: 1 1 auto;
    border-radius: 0.2em;
    border: 1px solid $gray-500;
    padding: 0.6em;
    margin-bottom: 1rem;
    min-height: 8rem;
  }
}

#todayTomatoesTimelineModal * {
  box-sizing: border-box;
}
#todayTomatoesTimelineModal {
  .modal-body {
    background-color: $timeline-bg-color;
  }

  .today-tomatoes-timeline-container {
    position: relative;
    border: 1px solid transparent;
  }
  .today-tomatoes-timeline-container:before {
    content: '';
    position: absolute;
    left: 1.2em;
    top: 0;
    height: 100%;
    width: 0.2em;
    margin-left: -0.1em;
    background-color: $timeline-vertical-line-color;
  }
  .timeline-block {
    margin: 1em auto;
  }
  .timeline-logo {
    flex: none;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    border: 0.2em solid white;
    background-color: $success-color;
    margin-right: 20px;
    z-index: 1;
    .timeline-logo-sun {
      color: white;
    }
  }
  .timeline-content {
    flex: auto;
    position: relative;
    padding: 0.5em;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 1px $box-shadow-color;
    h2 {
      font-size: 16px;
    }
    pre {
      white-space: pre-wrap;
    }
    .tomato-finish-time {
      margin-right: 2em;
    }
  }
  .timeline-content:before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    top: calc(1.2em - 0.5em);
    border: 0.5em solid transparent;
    border-right: 0.5em solid white;
  }

}
