@import "my_variables";

@media only screen and (max-width: 920px) {
  body {
    .heading-h2 {
      font-size: 1.6rem;
    }
    .text-p {
      font-size: 1rem;
    }
  }
  .header-wrapper {
    height: $phone-header-height;
  }
  .category-sidebar-header-row {
    flex: 1 1 18%;
    display: none;
  }
  .project-sidebar-header-row {
    flex: 1.5 2 28%;
  }
  .project-container-header-row {
    flex: auto;
    padding: 0 0.8em;
    display: none;
    .title-add-content {
      display: none;
    }
  }

  .container {
    padding-top: $phone-header-height;
  }
  .category-sidebar {
    padding-top: 2em;
    padding-left: 3em;
    flex: 1 1 18%;
  }
  .project-sidebar {
    flex: 1.5 1 28%;
    padding-top: 2em;
    padding-left: 3em;
    border-left: none;
  }
  .project-container {
    padding: 1em 0.8em;
    border-left: none;
    display: none;
  }
  .category-sidebar {
    display: none;
  }
  .to-category-sidebar-link {
    display: block;
  }
  }

@media only screen and (min-width: 920px) and (max-width: 1800px) {
  .header-wrapper {
    height: $tablet-header-height;
  }
  .category-sidebar-header-row {
    flex: 0 0 16%;
  }
  .project-sidebar-header-row {
    flex: 0 0 16%;
  }
  .project-container-header-row {
    flex: auto;
    padding: 0 10em;
  }
  .container {
    padding-top: $tablet-header-height;
  }
  .category-sidebar {
    flex: 0 0 16%;
    height: calc(100vh - #{$tablet-header-height});
    overflow: auto;
  }
  .project-sidebar {
    flex: 0 0 16%;
    height: calc(100vh - #{$tablet-header-height});
    overflow: auto;
  }
  .project-container {
    padding: 1em 10em;
    height: calc(100vh - #{$tablet-header-height});
    overflow: auto;
  }
}

@media only screen and (min-width: 1800px) {
  .header-wrapper {
    height: $pc-header-height;
  }
  .category-sidebar-header-row {
    flex: 0 0 15%;
  }
  .project-sidebar-header-row {
    flex: 0 0 15%;
  }
  .project-container-header-row {
    flex: auto;
    padding: 0 18em;
  }
  .container {
    padding-top: $pc-header-height;
  }
  .category-sidebar {
    flex: 0 0 15%;
    height: calc(100vh - #{$pc-header-height});
    overflow: auto;
  }
  .project-sidebar {
    flex: 0 0 15%;
    height: calc(100vh - #{$pc-header-height});
    overflow: auto;
    overflow: auto;
  }
  .project-container {
    height: calc(100vh - #{$pc-header-height});
    overflow: auto;
    padding: 1em 18em;
  }
}
