= form_for [@category] do |f|
  = f.text_field :name, id: 'create-category-input'
  = f.button('保存', { id: 'create-category-button', type: 'button' })
  = f.button('取消', { id: 'cancel-create-category-button', type: 'button' })
