.category-list.flex{id: "category-list-#{category.id}", url: category_projects_path(category), value: category.id}
  %span.category-icon
    %i.fas.fa-folder
  %span.category-name= category.name
  %span.row-stat= category.undone_projects.count
  %span.delete-category
    %i.far.fa-trash-alt
